/* special styles for custom @fileblock function in mb-tools.rkt */

.noskip .refcolumn {
    background: #998;
    color: white;
    padding-top: 0.6rem;
}

.noskip .refcontent p {
    font-size: 110%;
    line-height: 1.4;    
}

.fileblock .SIntrapara {
    margin: 0 0 0 0;
}

.fileblock .SCodeFlow {
    padding-top: 0.7em;
    margin-top: 0;
}

.fileblock {
    width: 90%;
}

.fileblock_filetitle{
    background: #eee;
    text-align:right;
    padding: 0.15em;
    border: 1px dotted black;
    border-bottom: none;
}

.terminal .SIntrapara, .browser .SIntrapara {
    margin: 0 0 0 0;
}

.terminal, .browser {
    margin-bottom: 1em;
    padding: 0.5em;
    width: 88%;
    background: #fcfcfc;
    color: #666;
}

.foreign-code {
    margin-bottom: 1em;
    padding: 0.5em;
    background: #fcfcfc;
    color: #666;
}

