* {
    margin: 0;
    padding: 0;
}

body {
    padding: 1em;
    font-family: "Triplicate T3";
}

div#pollen-logo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 76;
    height: 76;
    background-image: url("pollen.svg");
    background-size: 100%;
}

table {
    border-collapse:collapse;
    width: 100%;
    max-width: 700px;
}


tr > td:first-child {
    width: 0%;
}

th, tr > td:first-child {
    font-family: "Triplicate T4";
    background: #f6f6f6;
    text-align: left; 
}

th.root {
    background: white;
    font-weight: normal;
    padding: 0.4em;   
}

th a {
    background: #e6e6e6;
    display: block;
    font-weight: normal;
    padding: 0.4em;   
}


tr, tr + tr {
    border-top: 1px solid #ccc;
}

td {
    font-size: 16px;
    line-height: 1.35;
    text-align: center; 
}

a:hover {
    background: #eee;
}

a {
    text-decoration: none;
    color: #6a6;
    display: block;
    padding: 0.4em;   
}

.file-ext {
    color: #bbb;
}

a:active {
    text-decoration: underline;
}

tt {
    font-family: "AlixFB";
    font-size: 100%;
    white-space: pre-wrap;
}