<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>applet</string>
	<key>CFBundleIconFile</key>
	<string>applet</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.ScriptEditor.id.add-pollen-source-extensions</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>add-pollen-source-extensions</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>aplt</string>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>x86_64</key>
		<string>10.6</string>
	</dict>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.pollenpub.pm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pm</string>
				</array>
			</dict>
			<key>UTTypeDescription</key>
	        <string>Pollen markup source file</string>
	        <key>UTTypeConformsTo</key>
	        <array>
	            <string>public.source-code</string>
	        </array>
		</dict>

		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.pollenpub.pmd</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pmd</string>
				</array>
			</dict>
			<key>UTTypeDescription</key>
	        <string>Pollen Markdown source file</string>
	        <key>UTTypeConformsTo</key>
	        <array>
	            <string>public.source-code</string>
	        </array>
		</dict>

		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.pollenpub.pp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pp</string>
				</array>
			</dict>
			<key>UTTypeDescription</key>
	        <string>Pollen preprocessor source file</string>
	        <key>UTTypeConformsTo</key>
	        <array>
	            <string>public.source-code</string>
	        </array>
		</dict>

		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.pollenpub.ptree</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ptree</string>
				</array>
			</dict>
			<key>UTTypeDescription</key>
	        <string>Pollen pagetree source file</string>
	        <key>UTTypeConformsTo</key>
	        <array>
	            <string>public.source-code</string>
	        </array>
		</dict>

				<dict>
			<key>UTTypeIdentifier</key>
			<string>com.pollenpub.p</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>p</string>
				</array>
			</dict>
			<key>UTTypeDescription</key>
	        <string>Pollen null source file</string>
	        <key>UTTypeConformsTo</key>
	        <array>
	            <string>public.source-code</string>
	        </array>
		</dict>



	</array>
	<key>WindowState</key>
	<dict>
		<key>dividerCollapsed</key>
		<false/>
		<key>eventLogLevel</key>
		<integer>-1</integer>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>333</real>
		<key>savedFrame</key>
		<string>7 461 602 597 0 0 1920 1058 </string>
		<key>selectedTabView</key>
		<string>result</string>
	</dict>
</dict>
</plist>
